<ion-header>
    <ion-toolbar>
        <ion-title>
            Beer Checker BluetoothSerial
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button expand="full" (click)="listPairedDevices()">
        <ion-icon name="refresh"></ion-icon>
        Refresh Bluetooth Devices
    </ion-button>
    <ion-row>
        <ion-col>
            <ion-list ngDefaultControl [(ngModel)]="pairedDeviceID" *ngIf="pairedList.length > 0">
                <ion-radio-group>
                    <ion-list-header>
                        <ion-label>Devices</ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let device of pairedList;let j=index">
                        <ion-label>{{device.name}}</ion-label>
                        <ion-radio value="{{j}}"></ion-radio>
                    </ion-item>

                </ion-radio-group>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-button expand="full" class="submit-button" *ngIf="pairedList.length > 0" (click)="selectDevice()">
        <ion-icon name="bluetooth"></ion-icon>
        Connect Bluetooth Device
    </ion-button>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Type The Data You want to Send</ion-label>
            <ion-input type="text" name="datasend" [(ngModel)]="dataSend"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="sendData()">
        <ion-icon name="send"></ion-icon>
        Send Data Via Bluetooth
    </ion-button>
</ion-content>
