<ion-header>
    <ion-toolbar>
        <ion-title>
            Table Service
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button (click)="scanDevices()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Scan Bluetooth Devices
    </ion-button>

    <ion-col *ngIf="pairableDevices.length">
        <ion-list [(ngModel)]="pairedDeviceID" name="device" ngDefaultControl>

            <ion-radio-group>
                <ion-list-header>
                    <ion-label>Devices</ion-label>
                </ion-list-header>

                <ion-item *ngFor="let device of pairableDevices">
                    <ion-label>{{device.name}}</ion-label>
                    <ion-radio slot="start" value="{{device.address}}"
                               (ionSelect)="pairedDeviceID = device.address;"></ion-radio>
                </ion-item>

            </ion-radio-group>

        </ion-list>
    </ion-col>
    <ion-button *ngIf="pairableDevices.length > 0" (click)="selectDevice()">
        <ion-icon slot="start" name="bluetooth"></ion-icon>
        Select
    </ion-button>

    <ion-grid>
        <ion-row>
            <ion-col size-md="3" size-xs="6" text-center>
                <app-table-button title="Waiter" image="assets/waiter.png" [pressed]="buttonData.waiter"></app-table-button>
            </ion-col>
            <ion-col size-md="3" size-xs="6" text-center>
                <app-table-button title="Drinks" image="assets/drinks.png" [pressed]="buttonData.drinks"></app-table-button>
            </ion-col>
            <ion-col size-md="3" size-xs="6" text-center>
                <app-table-button title="Food" image="assets/food.png" [pressed]="buttonData.food"></app-table-button>
            </ion-col>
            <ion-col size-md="3" size-xs="6" text-center>
                <app-table-button title="Pay" image="assets/pay.png" [pressed]="buttonData.pay"></app-table-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
